body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #13472e;

    overflow-x: hidden;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    box-sizing: border-box;
    background-color: #13472e;
}

.flex-item {
    text-align: center;
    width: 100%;
    display: flex; 
    justify-content: center; 
    box-sizing: border-box; 
}

.flex-item .logo-image{
    width: 35%; 
    height: auto;
    user-select: none;
    margin-top: -21.75vh;
}

@media (max-width: 1700px) {
    .flex-item .logo-image{
        margin-top: -11vh;
    }
    .flex-item {
        width: 125%;
    }
    .button-group {
        display: flex;
        justify-content: space-between !important;
        gap: 14.1vh; /* Adjust spacing between buttons */
        width: 100%;
        max-width: 43.75% !important; /* Match the width of the form elements */
    }
}

.flex-item h1{
    color: #D0A215;
}

.flex-item input{
    width: 35%;
    font-size: 1.4rem;
    text-align: left;
    padding: 5px 5px 5px 2vh;
    border: 1px solid #13472e;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: text;
    background-color: #D0A215;
    color: #13472e;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
    margin-bottom: 15px;
    height: auto;
    background-color: #d7e7dc;
}

.flex-item .text-input:focus {
    color: #13472e; /* Ensures text is the desired color while typing */
}

.flex-item input::placeholder{
    color: #13472e;
    opacity: 0.75;
}

.flex-item button {
    width: 35%;
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid #13472e;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #D0A215;
    color: #13472e;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-item button:hover {
    background-color: #d7e7dc;
    color: #13472e;
}

.flex-inputs{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 14.1vh; /* Adjust spacing between buttons */
    width: 100%;
    max-width: 40%; /* Match the width of the form elements */
}

/* Container for custom alerts */
.custom-alert {
    position: absolute;
    top: 20px;
    padding: 15px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    background-color: #d7e7dc;
    width: 80%;
    border: none;
    justify-content: space-between;
    align-items: center;
    color: #D0A215;
    transition: opacity 0.5s ease-in-out;
}

#alertMessage{
    font-size: 1.4rem;
    padding-left: 1vh;
}

.custom-alert.visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
}

.custom-alert.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#closeButton {
    background-color: #D0A215; /* Primary style */
    color: #d7e7dc;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-left: auto; /* Ensure button stays on the right */
    z-index: 200000;
    opacity: 1;
    border: 1px solid #D0A215;
}

#closeButton:hover {
    background-color: #d7e7dc;
    color: #D0A215;
}

.custom-alert .alert-button-span span {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
}

#alertMessage {
    display: flex;
    justify-content: flex-start;
}

/* Accessiblity */


.accessibility-icon {
    margin-right: 30px;
    margin-bottom: 5px;
}

#accessibility-toolbar {
    position: fixed;
    left: 25px;
    top: 12%;
    width: 300px;
    z-index: 1000;
}

.toolbar-overlay {
    display: none;
    position: absolute;
    top: 100%; 
    background: #fff;
    border: 1px solid #13472e;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 100%;
    z-index: 2000;
}

.toolbar-overlay.visible {
    display: block;
}

.toolbar-inner {
    width: 100%;
}

.toolbar-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.toolbar-items a {
    display: block;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.btn-resize-font {
    cursor: pointer;
}

.grayscale {
    filter: grayscale(100%);
}

.high-contrast {
    background-color: black;
    color: white;
}

.high-contrast h1, 
.high-contrast h2,
.high-contrast p, 
.high-contrast span, 
.high-contrast input, 
.high-contrast input::placeholder,
.high-contrast button, 
.high-contrast .flex-container,
.high-contrast .custom-alert,
.high-contrast .close,
.high-contrast .flex-item,
.high-contrast .form-control,
.high-contrast #form-check,
.high-contrast #form-check-box,
.high-contrast .button-group,
.high-contrast .google-btn 
{
    color: white;
    background-color: black;
    border: 1px solid white;
}

.high-contrast #form-check-box{
    accent-color: white;
}
.high-contrast ::placeholder {
    color: white;
}

.high-contrast button:hover {
    background-color: white;
    color: black;
    border : 1px solid white;
}
